.EventContainer {
  width: 78rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0 auto 4rem auto;
  background-color: #080808;
  border-radius: 1.5rem;
  box-shadow: -2px -2px 5px rgba(217, 217, 217, 0.12), 4px 4px 5px rgb(0, 0, 0);
}
.EventLive,
.EventSocialMedia {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.EventLive > div,
.EventSocialMedia > div {
  margin-right: 0.9rem;
}
.EventLive img,
.EventSocialMedia img {
  width: 2rem;
}
.EventImgTxt {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.EventImgTxt img {
  width: 20rem;
  max-width: 100%;
}
