.about {
  position: relative;
}
.aboutQuote {
  text-align: center;
  width: 33rem;
  margin: 0 auto 2rem auto;
  z-index: 100;
}
.aboutQuote h2 {
  font-size: 3rem;
}
.smallSplash {
  position: absolute;
  top: -20rem;
  left: 55%;
  transform: translateX(-50%);
  z-index: -1;
}
.smallSplash img {
  opacity: 0.6;
}
.aboutVideo {
  width: 100%;
  position: relative;
  height: 40rem;
  margin: 23rem auto 25rem auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), #000),
    url(../../assets/fornite-team.jpeg);
  background-attachment: fixed;
  background-position: top center;
}
.aboutVideo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-family: "Lobster Two", cursive;
}
/* .aboutVideo video {
  width: 100%;
  outline: none;
} */
.aboutContainer {
  width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.aboutTitle {
  text-align: right;
}
.aboutTitle h3 {
  margin-right: 7rem;
}
.bigSplash {
  width: 110rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.bigSplash img {
  width: 100%;
  opacity: 0.6;
  object-fit: cover;
}
