.Owner {
  display: grid;
  width: 120rem;
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 10rem;
}
.OwnerLogo {
  width: 100%;
  margin-top: 6rem;
}
.OwnerLogo img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.Owner img {
  display: block;
  width: 60%;
  justify-self: flex-end;
}
.Owner p {
  width: 70%;
}
@media only screen and (max-width: 48em) {
  .OwnerLogo img {
    width: 70%;
  }
}
@media only screen and (max-width: 39.62em) {
  .Owner {
    grid-template-columns: 1fr;
  }
  .Owner img {
    justify-self: center;
    margin-bottom: 2rem;
    width: 70%;
  }
  .OwnerLogo img {
    width: 95%;
  }
}
