*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #080808;
  color: #fff;
  overflow-x: hidden;
}
h3 {
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
}
section {
  margin-top: 6rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.35;
}
@media only screen and (min-width: 106.25em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 55.25%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 39.62em) {
  html {
    font-size: 70%;
  }
}
