*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: #080808;
  color: #fff;
}
section {
  margin-top: 6rem;
}
h3 {
  font-size: 5rem;
}
p {
  font-size: 1.7rem;
  line-height: 1.35;
}
