.Navegation {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 1rem;
  z-index: 2000;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo img {
  width: 10rem;
}
.menuContainer {
  list-style: none;
}
.menuContainer li {
  display: inline-block;
}
.menuContainer a:link,
.menuContainer a:visited {
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
  transition: all 0.15s;
}
.menuContainer a:hover {
  background-color: #07bcf5;
}
.burgerMenuContainer {
  display: none;
  width: 3.5rem;
  height: 3rem;
  margin-right: 1rem;
  position: relative;
}

.burgerMenu {
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.burgerMenu::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #fff;
  bottom: 0;
}
.burgerMenu::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 48em) {
  .burgerMenuContainer {
    display: block;
  }
  .menuContainer {
    position: fixed;
    right: -100%;
    top: 8rem;
    padding: 5rem;
    background-color: #000;
  }
  .menuContainerShow {
    right: 0;
    transition: all 0.5s;
  }

  .menuContainer li {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
  .menuContainer a:link,
  .menuContainer a:visited {
    padding: 2rem;
  }
  .menuContainer a:hover {
    background-color: #07bcf5;
  }
}
